# Ignore all build directories.  These are preceded by "_"
_*

# Ignore autosave files
*~

# Ignore mesh files
*.smb
*.dmg
*.smd
*.vtk
*.sms
m3dc1_meshgen.log
plot_geo
unstructured/templates/*/*/*.txt

# Ignore regtest output
regtest/*/1.*
regtest/*/devel-*


